finalreport.aux
finalreport.bbl
finalreport.blg
finalreport.brf
finalreport.idx
finalreport.log
finalreport.out
finalreport.pdf
finalreport.synctex.gz
finalreport.toc
finalreport.fdb_latexmk
finalreport.fls
finalreport.ilg
finalreport.ind
